
<div class="hero-unit">  
	<ul>
		<li><h6>Upcoming shows in SF, Oakland, etc.</h6></li>
		<li ng-repeat="day in list.dates">
		    <div class="date well">
		      	<h5>{{day.date | orderBy:'day.date' | date:'EEE MMM d y' }}</h5>
		      	<div ng-repeat="show in day.shows">
				      	<span ng-repeat="band in show.bands">{{band | capitalize}}{{{true: ' ', false: ' | '}[$last]}}</span>
			      		&nbsp;&nbsp;&nbsp;@{{show.venu | capitalize}}&nbsp;<span class="label">{{show.time}}</span>
			    </div>
			</div>
		</li>
	</ul>
</div>
